# 1번

In [1]:
# 응답 설문 문항
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

answer = []

for i in question:
    if "_" not in i:
        answer.append(i)
        

print(answer)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

# 2번

In [16]:
# 데이터 불러오기
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [17]:
# 필요없는 column 삭제
df = df.drop(["Spending_USD"], axis=1)
df

     Year        Country  Life_Expectancy
0    1970        Germany             70.6
1    1970         France             72.2
2    1970  Great Britain             71.9
3    1970          Japan             72.0
4    1970            USA             70.9
..    ...            ...              ...
269  2020        Germany             81.1
270  2020         France             82.3
271  2020  Great Britain             80.4
272  2020          Japan             84.7
273  2020            USA             77.0

[274 rows x 3 columns]

In [18]:
# 2011년 이전 데이터 삭제
df = df.drop(df[df["Year"]<2011].index)
df

     Year        Country  Life_Expectancy
214  2011         Canada             81.4
215  2011        Germany             80.5
216  2011         France             82.3
217  2011  Great Britain             81.0
218  2011          Japan             82.7
219  2011            USA             78.7
220  2012         Canada             81.6
221  2012        Germany             80.6
222  2012         France             82.1
223  2012  Great Britain             81.0
224  2012          Japan             83.2
225  2012            USA             78.8
226  2013         Canada             81.7
227  2013        Germany             80.6
228  2013         France             82.3
229  2013  Great Britain             81.1
230  2013          Japan             83.4
231  2013            USA             78.8
232  2014         Canada             81.8
233  2014        Germany             81.2
234  2014         France             82.8
235  2014  Great Britain             81.4
236  2014          Japan             83.7
237  2014            USA             78.9
238  2015         Canada             81.9
239  2015        Germany             80.7
240  2015         France             82.4
241  2015  Great Britain             81.0
242  2015          Japan             83.9
243  2015            USA             78.7
244  2016         Canada             82.0
245  2016        Germany             81.0
246  2016         France             82.7
247  2016  Great Britain             81.2
248  2016          Japan             84.1
249  2016            USA             78.7
250  2017         Canada             81.9
251  2017        Germany             81.1
252  2017         France             82.7
253  2017  Great Britain             81.3
254  2017          Japan             84.2
255  2017            USA             78.6
256  2018         Canada             82.0
257  2018        Germany             81.0
258  2018         France             82.8
259  2018  Great Britain             81.3
260  2018          Japan             84.3
261  2018            USA             78.7
262  2019         Canada             82.2
263  2019        Germany             81.3
264  2019         France             82.9
265  2019  Great Britain             81.4
266  2019          Japan             84.4
267  2019            USA             78.8
268  2020         Canada             81.7
269  2020        Germany             81.1
270  2020         France             82.3
271  2020  Great Britain             80.4
272  2020          Japan             84.7
273  2020            USA             77.0

In [7]:
# pivot_table 이용
pdf1 = pd.pivot_table(df,                            # 피벗할 데이터프레임
                     index = 'Year',                 # 행 위치에 들어갈 열
                     columns = 'Country',            # 열 위치에 들어갈 열
                     values = 'Life_Expectancy',     # 데이터로 사용할 열
                     aggfunc = 'mean')               # 데이터 집계함수
pdf1

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [14]:
# groupby 이용
gdf = df.groupby(['Year','Country']).mean().unstack()
gdf

        Life_Expectancy
Country          Canada France Germany Great Britain Japan   USA
Year
2011               81.4   82.3    80.5          81.0  82.7  78.7
2012               81.6   82.1    80.6          81.0  83.2  78.8
2013               81.7   82.3    80.6          81.1  83.4  78.8
2014               81.8   82.8    81.2          81.4  83.7  78.9
2015               81.9   82.4    80.7          81.0  83.9  78.7
2016               82.0   82.7    81.0          81.2  84.1  78.7
2017               81.9   82.7    81.1          81.3  84.2  78.6
2018               82.0   82.8    81.0          81.3  84.3  78.7
2019               82.2   82.9    81.3          81.4  84.4  78.8
2020               81.7   82.3    81.1          80.4  84.7  77.0

# 3번

## Pandas를 통한 파일 저장과 불러오기
- to_csv("파일명", index=False) : csv 파일로 저장하기
- read_csv("파일명") : csv 파일 불러오기
- shape를 통한 행과 열의 수 보기
- head, tail, sample 을 통한 일부 데이터 가져오기

## DataFrame의 info(), describe() 등을 통한 요약과 기술통계 값 구하기
- info()
- describe()
- nunique()
- index
- columns
- values

## Pandas의 DataFrame과 Series의 이해
- Series : 1차원 벡터구조
- DataFrame : 2차원 행렬구조

## 색인하기
- [컬럼]
- .loc[행]
- .loc[행, 열]
- .loc[조건식, 열]

## DataFrame의 데이터 타입 이해하기
- 날짜 데이터의 변환

## DataFrame 다루기
- 열(column) 인덱싱
- 행(index) 인덱싱
- 행, 열 인덱싱
- 정렬하기 : sort_values 사용하기
- 조건식 사용하기

## 빈도수 구하기
- 한 개의 변수 : series.value_counts()
- 두 개의 변수 : pd.crosstab()

## groupby 와 pivot_table
- 다양한 연산식의 사용

# 4번

In [2]:
import pandas as pd
df = pd.read_csv("서울특별시 강남구_생활폐기물배출량_20221019.csv", encoding='cp949')
df

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911