In [13]:
##Q1

question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q8', 'Q9']
qs = []                                 ## Q+숫자 형태의 원소만 담을 리스트
for i in question:
  if len(i) < 3:                      ## 길이가 2인 원소들만 
    qs.append(i)
qs

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [20]:
##Q2

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")

df = df[df.Year > 2010]   ##2011년부터의 데이터만
df_groups = df.groupby(['Year', 'Country'])['Life_Expectancy' ].mean().round(1)   ##년도와 국가를 기준으로 기대수명의 평균값을 계산
df = pd.DataFrame(df_groups)                                                       ## 다시 데이터프레임형태로 만듦
df.pivot_table(index='Year', columns='Country', values = 'Life_Expectancy')           ##피봇테이블을 이용해 표를 재정렬

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [27]:
##Q4

import pandas as pd
data = pd.read_csv('서울특별시 강남구_생활폐기물배출량_20221019.csv', encoding='cp949')
data

    강남구  2019년(생활폐기물)-톤  2020년(생활폐기물)-톤
0   01월            7550            7350
1   02월            6387            6688
2   03월            7198            6973
3   04월            6820            6448
4   05월            7767            6470
5   06월            7275            7923
6   07월            8164            8015
7   08월            7807            7859
8   09월            6811            7452
9   10월            7222            6875
10  11월            7592            7337
11  12월            7298            6911